<!-- fragments/footer.html -->
<footer th:fragment="footer">
    <div class="footer_main">
        <div class="tag">
            <img th:src="@{/assets/images/WiseOwlBookstoreCopy.png}" alt="" />
            <p>Created by Kevin Vu - 2023</p>
        </div>

        <div class="tag">
            <h1>Quick Link</h1>
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/books}">All Books</a>
        </div>

        <div class="tag">
            <h1>Contact Info</h1>
            <a href="#"><i class="fa-solid fa-phone"></i>+61 3 7010 4321</a>
            <a href="#"><i class="fa-solid fa-envelope"></i>wiseowlbookstore@gmail.com</a>
        </div>
    </div>
</footer>
