<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="container-fluid">
        <a class="navbar-brand logo" th:href="@{/}">
            <img th:src="@{/images/navbar/WiseOwlBookstoreCopy.png}" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/books}">All Books</a></li>

                <!-- Show only if ROLE_ADMIN -->
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin-add-new-book}">Add New Book</a>
                </li>
            </ul>

            <div>
                <!-- If the user is not authenticated -->
                <div class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login/Register
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                        <li><a class="dropdown-item" th:href="@{/register}">Register</a></li>
                    </ul>
                </div>

                <!-- If the user is authenticated -->
                <div class="d-flex" sec:authorize="isAuthenticated()">
                    <a class="mx-1" th:href="@{/order-summary}">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </a>
                    <a class="mx-1" th:href="@{/cart}">
                        <i class="fas fa-shopping-cartItem mx-2"></i>
                    </a>
                    <div class="nav-item dropdown mx-1">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="name">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/account-update}">Account</a></li>
                            <li><a class="dropdown-item" th:href="@{/cart}">Cart</a></li>
                            <li><a class="dropdown-item" th:href="@{/order-summary}">Checkout</a></li>
                            <li><a class="dropdown-item" th:href="@{/order-history}">Order History</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a href="#" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                    Logout
                                </a>
                            </li>
                            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
